AIRL_API_HOST=127.0.0.1
AIRL_API_PORT=8765
AIRL_DATABASE_PATH=./data/airl_bridge.sqlite3
AIRL_ZOTERO_BASE_URL=http://127.0.0.1:23119/api
AIRL_ZOTERO_LIBRARY_TYPE=users
AIRL_ZOTERO_LIBRARY_ID=0
AIRL_OBSIDIAN_VAULT=/home/otonom/Documents/Obsidian Vault
AIRL_OBSIDIAN_GENERATED_DIR=70 - Literatür Setleri/Zotero Kaynakları
